html, body { width: 100%; height: 100% }

body { font-family: Arial, sans-serif; font-size:12px; line-height:1.4em; margin: 0; padding: 0; width:100%; height: 100%; }

h1 { font-size: 16px; font-weight: bold; }
h2 { font-size: 16px; margin-top:5px; }

#flag { position:absolute; right:30px; top:10px; z-index:9999; }
#rose { position:absolute; right:20px; top:140px; z-index:9999; }

#map_canvas {
    width: 100%;
    height: 100%;
    position:absolute;
}

#right-col { z-index:900; position:absolute; bottom: 30px; right:30px; width:160px; padding: 10px; background-color: #F3EFE9; border:1px solid black; text-align: center;}

.legend { margin-top: 7px; }
.legend table { width: 100%; text-align: left; }
.legend td { vertical-align: top; }

#right-col form#search { margin-bottom: 5px; margin-top:5px; }
#right-col form#search input[type=text] { width:150px; }
.placeholder { color: #aaa; }

#credits { margin-top:3px; }

